body {
  font-family: "Alegreya Sans", sans-serif;
}

header,
section {
  height: 400px;
  width: auto;
}

section {
  color: #1b3e82;
}

h1,
#etoiles {
  font-family: "Cinzel", serif;
  /* font-weight: bold; */
  font-size: 3.3em;
}

h2 {
  font-size: 2.5em;
  font-family: "Cinzel", serif;
}

footer {
  width: auto;
}

#header-index {
  background-image: url(../images/osaxr-bar-3082-hor-wide.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

/* Flou sur bg header text */
/* #header-index div {
  background: blur(0.5em);
} */
nav,
footer {
  background-color: #0d1f41;
}
.nav-item a,
footer,
footer a {
  color: #dde2ed;
}

.btn-primary {
  background-color: #dde2ed;
  border: #dde2ed;
  color: #1b3e82;
}

.btn-primary:hover {
  background-color: #bec8db;
  color: #1b3e82;
}
/* 
.btn-primary:focus {
  background-color: #dde2ed;
  color: #1b3e82;
} */

.nav-item a span:hover,
footer a:hover {
  border-bottom: 1px solid darkgoldenrod;
  transition: 0.5s;
  transition-timing-function: linear;
}

#chambre-index {
  /* height: 700px; */
  background-image: url(../images/osaxr-deluxe-suite-4519-hor-feat.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
}
@media (max-width: 576px) {
  #colonne {
    flex-direction: column;
  }
}
