body {
  font-family: "Alegreya Sans", sans-serif;
}

.container {
  max-width: 1400px;
}

/* ******* */
/* SECTION */
/* ******* */
section,
section tr {
  color: #1b3e82;
}
section div {
  padding: 40px;
}
section div p {
  padding: 20px;
}

/*********/
/* FONTS */
/*********/
h1,
#etoiles {
  font-family: "Cinzel", serif;
  font-size: 3.3em;
}

h2 {
  font-size: 2.5em;
  font-family: "Cinzel", serif;
}

/**********/
/* FOOTER */
/**********/
footer {
  width: auto;
}
/* comportement responsive du footer
on met une width en px pour utiliser le flex-wrap */
.foot-resp {
  width: 310px;
  margin: 30px 0;
}
/*********HEADER***********/
.carousel-inner{
  height: 650px;
}

#img-1{
  background-size: auto 400px;
  
}

nav,
footer {
  background-color: #0d1f41;
}
.nav-item a,
footer,
footer a {
  color: #dde2ed;
}

/* Met en évidence le lien de la navbar correspondant à la page visitée */
.nav-item .active, 
.nav-link .active{
  background-color: #0d1f41;
  color: darkgoldenrod;
}

/* ******* */
/* BUTTONS */
/* ******* */
.btn, 
.form-control, 
.dropdown-menu{
  border-radius: 0;
}
.btn-secondary {
  background-color: #dde2ed;/*dde2ed*/
  border-color: #dde2ed;
  color: #1b3e82;
}

.btn-secondary:hover {
  background-color: #0d1f41;
  border-color: #dde2ed;
  color: #dde2ed;
}
/* 
.btn-secondary:focus {
  background-color: #dde2ed;
  color: #1b3e82;
} */

.btn-primary {
  color: #1b3e82;
  background-color: darkgoldenrod;
  border-color:darkgoldenrod;
}

.btn-primary:hover {
  color: darkgoldenrod;
  background-color: #0d1f41;
  border-color:darkgoldenrod;
}

.btn-outline-primary{
  color: darkgoldenrod;
  border-color:darkgoldenrod;
  background-color: transparent;
}

.btn-outline-primary:hover{
  color: #1b3e82;
  background-color: darkgoldenrod;
  border-color:darkgoldenrod;
}

.dropdown-menu{
  background-color: #0d1f41;
}
.dropdown-item:focus, 
.dropdown-item:hover {
  color: #dde2ed;
  /* text-decoration: none; */
  background-color: transparent;
}

/*****************/
/* LINKS : HOVER */
/*****************/
a:hover{
  text-decoration: none;
}

section a:hover, .nav-item a span:hover,
footer a:hover,
.dropdown-item:hover   {
  text-decoration: none;
  transition: 0.3s;
  color: darkgoldenrod;
}
/*****section chambres*******/

#chambre-index {
  min-height: 500px;

  background: url(../images/chambres/chambre3lg.jpg);
}

/*****section restaurant*******/

#resto-index {
  min-height: 500px;

  background: url(../images/resto/resto-lg.jpeg);
}

/*****section spa*******/

#spa-index {
  min-height: 500px;

  background: url(../images/spa/spa.jpeg);
}
/*******reglages dispo div dans section*******/

/***************/
/* MEDIA QUERY */
/***************/

/* ajout dans les media query de differentes tailles d'images pour les sections chambres ,restaurant et spa */
@media (max-width: 576px) {
  /*passage des elements du footer en colonne en dessous d'une width de 576px*/
  #colonne {
    flex-direction: column;
  }

  #chambre-index {
    background: url(../images/chambres/chambre3sm.jpg);
  }
  #resto-index {
    background: url(../images/resto/resto-sm.jpeg);
  }
  #spa-index {
    background: url(../images/spa/spa-sm.jpeg);
  }
}
@media (max-width: 768px) {
  #chambre-index {
    background: url(../images/chambres/chambre3md.jpg);
  }
  #resto-index {
    background: url(../images/resto/resto-md.jpeg);
  }
  #spa-index {
    background: url(../images/spa/spa-md.jpeg);
  }
}
@media (max-width: 990px) {
  #restaurant {
    flex-direction: column-reverse;
  }
  .container {
    width: 100%;
    padding: 0;
  }
}

/****************/
/* MODIF DAMIEN */
/****************/
/*pour changer la taille des icones
du FOOTER*/
footer .fab,
footer .fas {
  width: 40px;
  font-size: 25px;
}
