body {
  font-family: "Alegreya Sans", sans-serif;
  color: #1b3e82;
}

.container {
  max-width: 1400px;
}

/* **** */
/* LOGO */
/* **** */
.logo-sm{
  height:45px;
  width: 45px;
}

/* ******* */
/* SECTION */
/* ******* */
section,
section tr {
  color: #1b3e82;
}

section div {
  padding: 40px;
}

section div p {
  padding: 20px;
}

a {
  text-decoration: none !important;
}

/***********section event actu presse***********/
/* 
  Hauteur : 400px
  Curseur : pointer pour donner l'impression que toute l'img est cliquable
*/
#event,
#actua,
#press {
  height: 400px;
  cursor: pointer;
}

/* Chargement des img en bgc */
#event {
  background-image: url(../images/section_event/event.jpg);
  background-size: cover;
}

#actua {
  background-image: url(../images/section_event/actu.jpg);
  background-size: cover;
}

#press {
  background-image: url(../images/section_event/press.jpg);
  background-size: cover;
}

/* 
  Retire les padding left et right de chaque figure
  Font color blanc  
*/
figure#event,
figure#actua,
figure#press {
  padding-left: 0;
  padding-right: 0;
  color: #FFF;
}

/* 
  Resize de la figcaption à 100% du parent
  bgc noir avec opacité pour laisser voir l'img
*/
figcaption {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.400);
}

/* 
  Hover sur parent, 
  Changmt font color en bleu et bgc en gold sur enfant
*/
figure:hover figcaption {
  color: #1b3e82;
  background-color: rgba(218, 165, 32, 0.500);
  transition: 0.3s ease-in-out;
}

/*********/
/* FONTS */
/*********/
h1,
#etoiles {
  font-family: "Cinzel", serif;
  font-size: 3.3em;
}

h2 {
  font-size: 2.5em;
  font-family: "Cinzel", serif;
}

/**********/
/* FOOTER */
/**********/
footer {
  width: auto;
}

/* comportement responsive du footer
on met une width en px pour utiliser le flex-wrap */
.foot-resp {
  width: 310px;
  margin: 30px 0;
}

/*********HEADER***********/
#img-1 {
  background-size: auto 400px;

}

nav,
footer {
  background-color: #0d1f41;
}

.nav-item a,
footer,
footer a {
  color: #dde2ed;
}

/* Change la taille des icones du FOOTER*/
footer a .fab,
footer a .fas {
  width: 40px;
  font-size: 25px;
}
/* Met en évidence le lien de la navbar correspondant à la page visitée */
.nav-item .active,
.nav-link .active {
  background-color: #0d1f41;
  color: darkgoldenrod;
}

/* ****** */
/* ICONES */
/* ****** */
.fas.fa-star,
.fas.fa-star-half {
  color: darkgoldenrod;
}

.fa-thumbs-up,
#more-avis {
  cursor: pointer;
}

/* ******* */
/* BUTTONS */
/* ******* */
.btn,
.form-control,
.dropdown-menu,
.custom-file-input,
.custom-file-label {
  border-radius: 0;
}

.btn-secondary {
  background-color: #dde2ed;
  /*dde2ed*/
  border-color: #dde2ed;
  color: #1b3e82;
}

.btn-secondary:hover {
  background-color: #0d1f41;
  border-color: #dde2ed;
  color: #dde2ed;
}

/* 
.btn-secondary:focus {
  background-color: #dde2ed;
  color: #1b3e82;
} */

.btn-primary {
  color: #1b3e82;
  background-color: darkgoldenrod;
  border-color: darkgoldenrod;
}

.btn-primary:hover {
  color: darkgoldenrod;
  background-color: #0d1f41;
  border-color: darkgoldenrod;
}

/* Ajustement des couleurs du btn-primary lorsque état actif et focus */
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus {
  color: darkgoldenrod;
  background-color: #0d1f41;
  border-color: darkgoldenrod;
  box-shadow: 0 0 0 .2rem rgba(184, 135, 11, 0.300);
}

.btn-primary:not(:disabled):not(.disabled):active.btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(184, 135, 11, 0.300);
}

.btn-outline-primary {
  color: darkgoldenrod;
  border-color: darkgoldenrod;
  background-color: transparent;
}

.btn-outline-primary:hover {
  color: #1b3e82;
  background-color: darkgoldenrod;
  border-color: darkgoldenrod;
}

.dropdown-menu {
  background-color: #0d1f41;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #dde2ed;
  /* text-decoration: none; */
  background-color: transparent;
}

.custom-file-input:lang(fr)~.custom-file-label::after {
  content: "Fichier";
}

/*****************/
/* LINKS : HOVER */
/*****************/
a:hover {
  text-decoration: none;
}

section a:hover,
.nav-item a span:hover,
footer a:hover,
.dropdown-item:hover {
  text-decoration: none;
  transition: 0.3s;
  color: darkgoldenrod;
}

/*****section chambres*******/

#chambre-index {


  background: url(../images/chambres/chambre3lg.jpg);
}

/*****section restaurant*******/

#resto-index {


  background: url(../images/resto/resto-lg.jpeg);
}

/*ajout de css sur l'id cuisto-index pour la page restaurant*/
#cuisto-index {
  background: url(../images/resto/cuisto1.jpg);
  max-width: 100%;
  height: auto;
}

/*****section spa*******/

#spa-index {


  background: url(../images/spa/spa.jpeg);
}

#chambre-index,
#resto-index,
#spa-index {
  height: 500px;
}

/*******reglages dispo div dans section*******/

/*********/
/* CARDS */
/*********/
.card {
  border-color: goldenrod;
  border-radius: 0;
}

/* Retire les borders radius de BS sur les cards img */
.card-img, .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bg-bleu{
  background-color: #0d1f41;
}

/*******reglages dispo div dans section*******/
/***************/
/* MEDIA QUERY */
/***************/

/* ajout dans les media query de differentes tailles d'images pour les sections chambres ,restaurant et spa */
@media (max-width: 576px) {

  /*passage des elements du footer en colonne en dessous d'une width de 576px*/
  #colonne {
    flex-direction: column;
  }

  #chambre-index {
    background: url(../images/chambres/chambre3sm.jpg);
  }

  #resto-index {
    background: url(../images/resto/resto-sm.jpeg);
  }

  #spa-index {
    background: url(../images/spa/spa-sm.jpeg);
  }
}

@media (max-width: 768px) {
  #chambre-index {
    background: url(../images/chambres/chambre3md.jpg);
  }

  #resto-index {
    background: url(../images/resto/resto-md.jpeg);
  }

  #spa-index {
    background: url(../images/spa/spa-md.jpeg);
  }
  /* Cards de 1 colonnes jusqu'à sm */
  .card-columns {
    column-count: 1;
  } 
}

@media (min-width:768px){
  /* Cards de 2 colonnes à partir de md */
  .card-columns {
    column-count: 2;
  } 
}

@media (min-width:992px){
  /* Cards de 3 colonnes à partir de md */
  .card-columns {
    column-count: 3;
  } 
}

@media (max-width: 992px) {
  #restaurant {
    flex-direction: column-reverse;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  #classique,
  #confort,
  #deluxe,
  #suite {
    width: 100%;
  }

  /* ajout d'un media query pour la page restaurant, pour la section gallerie de plats*/
  .item,
  section .gallery {
    display: flex;
    justify-content: center;
  }
}

/*nouveau media query pour la mosaique d'image*/
@media (min-width: 992px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
  }

  .item {
    padding: 0;
    margin: 0;
    overflow: hidden;
    grid-template-columns: 1;
    grid-template-rows: 1;
  }

  .item img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .item.v2 {
    grid-row: span 2;
  }

  .item.v3 {
    grid-row: span 3;
  }

  .item.v4 {
    grid-row: span 4;
  }

  .item.h2 {
    grid-column: span 2;
  }

  .item.h3 {
    grid-column: span 3;
  }

  .item.h4 {
    grid-column: span 4;
  }
}

.item,
.item img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/**********************/
/***  pages chambres***/
/**********************/

/* CLASSE POUR DONNER UNE LARGEUR FIXE AUX DIV CARACTERISTIQUES DANS LES SECTIONS DETAILLEES DES CHAMBRES*/
.carac {
  width: 300px;
}

/* SEPARATEUR entre les sections chambres et la section détails des services inclus dans chaque chambres
l'id sert d'ancre pour le lien "voir les détails" dans chaque sections chambres */
#separ {
  border-bottom: 3px solid #0d1f41;
}